CompileFlags:
  Add: [-Wall,
    -Werror,
    -ggdb3,
    -MD,
    -ffreestanding,
    -fno-common,
    -nostdlib,
    -mno-relax,
    -mcmodel=medany,
    -I/home/yewpo/Desktop/test/YOS/include]
  Compiler: riscv-linux-gnu-gcc
